{% extends 'mailing_service/basic_design.html' %}
{% load my_tags %}
{% block title %}Получатель{% endblock %}

{% block header %}
{% include 'mailing_service/includes/header_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">SendMail Service</h1>
    <p class="lead">SendMail - это отличный вариант создания кампаний для презентаций ваших продуктов и рекламных
        рассылок</p>
    {% if user.is_authenticated %}
        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing_service:message_create' %}">Создать сообщение</a>
    {% endif %}
</div>

{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Заголовок</th>
        <th scope="col">Текст письма</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for message in message_owner_user %}
            <tr>
            <td>{{ message.head_letter }}</td>
            <td>{{ message.body_letter }}</td>
            <td>
                {% if user.is_authenticated %}
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing_service:message_update' message.pk%}">Изменить</a>
                    <a class="btn btn-lg btn-block btn-outline-danger" href="{% url 'mailing_service:message_delete' message.pk%}">Удалить</a>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}